<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="SuppressWarningsFilter" />
    <module name="TreeWalker">
        <module name="Indentation">
            <property name="basicOffset" value="4" />
            <property name="caseIndent" value="0" />
        </module>
        <module name="LineLength">
            <property name="max" value="120" />
        </module>
        <module name="EmptyBlock">
            <property name="option" value="text" />
        </module>

        <!-- http://checkstyle.sourceforge.net/config_blocks.html#LeftCurly -->
        <module name="LeftCurly">
            <property name="option" value="nl"/>
            <property name="tokens" value="CLASS_DEF,INTERFACE_DEF,CTOR_DEF,METHOD_DEF"/>
        </module>

        <module name="UnusedImports" />
    </module>

    <module name="NewlineAtEndOfFile" />

</module>
