
body div.container {
    margin-top: 100px;
}

.card-body i {
    font-size: 50px;
}

.card-body p {
    font-size: 25px;
}

a.fa, a.fas {
    font-size: 50px;
}

div.row {
    margin-bottom: 25px;
}
